%div.p-bottom-100{style: "background-repeat: no-repeat; background-image: url('http://static.pexels.com/wp-content/uploads/2014/06/animal-dog-pet-1007-644x550.jpg'); background-position: 100% 100%;"}
  = render 'layouts/nav'
  .row.p-y-80
    .small-12.medium-5.columns
      %h1.c-drk-blue{style: "font-size: 3.5rem; font-family: 'mergelight'; line-height: 1;"} Who wants to go for a walk?
      %h5.m-top-20.c-drk-blue{style: "font-family: 'mergelight';"} Treat yourself and your best friend to premium dog walks. Now walking dogs across north Chicago.
      %button.secondary.m-top-40{href: "#signup"} Sign Up Now