%div.p-bottom-100.landing-hero
  = render 'layouts/nav'
  .row.p-y-80
    .small-12.medium-5.columns
      %h1.c-drk-blue.hero-text Get your first 5 walks free!
      %h5.m-top-20.c-drk-blue.merge Treat yourself and your best friend to premium dog walks. Now walking dogs across north Chicago.
      %a.btn.secondary.m-top-40{href: "#signup"} Start Walking