%div.p-bottom-100.landing-hero
  = render 'layouts/nav'
  .row.p-y-80
    .small-12.medium-5.columns
      %h1.c-drk-blue.hero-text Thanks for your support
      %h5.m-top-20.c-drk-blue.merge Due to unforseen circumstances we will no longer be able to continue services. It has been an honor to help take care of your pets.
      