%div.walker-bg#walker
  .overlay.p-y-100{style: "background-color: rgba(241,98,50,0.85);"}
    .row
      .small-12.medium-4.medium-offset-4.columns.ta-center
        = image_tag "nick.jpg", width: "270px", class: "circle-image"
    .row.m-top-40
      .small-12.columns.ta-center
        %h1.merge.c-white Nick Bollinger
        %h4.c-lt-gray.merge Lead Walker
    .row.m-top-20
      .small-12.medium-10.medium-offset-1.columns.ta-center
        %h5.c-white Nick, our lead walker, has over two years of professional experience walking dogs. He is a supporter of anti-breed discrimination efforts and specializes in dog safety. Look for his posts about keeping your dog safe from harmful ice-melting salts during the winter.
