// NOT FOR PUTTING IN THE APP!!
.p-y-15
  %table{style: "border-style: none; width: auto;"}
    %tr
      %td{style: "margin-right: 10px; border-color: transparent; vertical-align: top;"}
        %img{src: "https://s3-us-west-2.amazonaws.com/publicwebassets/wag_wag_dog.png", alt: "WagWag", width: "70px", style: "margin-right: 20px;"}
      %td{style: "border-color: transparent;"}
        %p{style: "margin-bottom: 0px; font-size: .9rem;"}
          %span{style: "font-weight: bold;"} Jenny Jayne
          &#47; Co-Founder
        %p{style: "font-size: .75rem;"}
          %a{href: "mailto:jenny@wagwag.io", target: "_top"} jenny@wagwag.io
          , (872) 588-7518
        %p{style: "margin-bottom: 0px; font-size: .9rem;"}
          %span{style: "font-weight: bold;"} WagWag Pet Services, LLC 
        %p{style: "font-size: .75rem; margin-bottom: 0px;"}
          %a{href: "http://wagwag.io", target: "_blank"} http://wagwag.io
        %p{style: "font-size: .75rem;"} (773) 980-9348
