%div{style: "background-size: cover; background-repeat: no-repeat; background-image: url('http://picjumbo.com/wp-content/uploads/IMG_8321-1300x866.jpg');"}
  .overlay{style: "background-color: rgba(62,70,81,0.65);"}
    = render 'layouts/nav'
    .row
      .small-12.columns{style: "padding: 80px 0px; text-align: center;"}
        %h1{style: "font-size: 62px; color: white; font-family: 'mergelight';"} Who's a good dog?
        %h4{style: "1111111color: white; font-family: 'Source Sans Pro'; color: #f0f0f0;"} Treat your best friend to premium dog walks.
        %button.primary{style: "margin: 20px 0px;"} Sign Up
%div{style: "padding: 80px 0px;"}
  .row
    .small-12.columns
      %hr
      .row
        .small-6.small-offset-3.columns
          %div{style: "background-color: white; padding: 30px; text-align: center; position: relative; top: -94px;"}
            %h5{style: "font-family: 'Source Sans Pro'; color: #00B5B5;"} Wag Wag is a premium pet-walking service. We're specially catered to providing the best, safest service to your and your pet.
  .row{style: "text-align: center;"}
    .small-12.medium-4.columns
      = image_tag "gps.svg", width: "101px"
      %h5{style: "font-family: 'mergelight'; margin-top: 20px;"} We enable a GPS locatable collar on all dogs we walk. This helps keep your best friend safe and gives you peace of mind.
    .small-12.medium-4.columns
      = image_tag "list.svg", width: "101px"
      %h5{style: "font-family: 'mergelight'; margin-top: 20px;"} We'll send you a list of your pet's activities to keep you informed.
    .small-12.medium-4.columns
      = image_tag "list.svg", width: "101px"
      %h5{style: "font-family: 'mergelight'; margin-top: 20px;"} We'll send you a list of your pet's activities to keep you informed.