.about_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url("about_dog.jpg");
  background-position: 50% 50%;
}

.middle-divider {
  border-left: 1px solid #999;
}

