a, button {
  @include transition (all 0.1s ease-in-out);
}

button.primary,
a.primary {
  background-color: $orange;
  color: white;
  font-family: 'mergelight';
  height: 140px;
  width: 140px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 100%;
  border: 10px solid white;
  &:hover, &:active, &:focus {
    background-color: darken($orange, 5);
  }
}

button.secondary,
a.secondary {
  background-color: $orange;
  color: white;
  font-family: 'mergelight';
  font-size: 18px;
  text-transform: uppercase;
  &:hover, &:active, &:focus {
    background-color: darken($orange, 5);
  }
}