// Background Colors
////////////////////////////////////////////////////////////////////////////////
.bgc-orange   { background-color: $orange; }
.bgc-turq     { background-color: $turq; }
.bgc-lt-gray  { background-color: $lt-gray; }
.bgc-blue     { background-color: $blue; }
.bgc-drk-blue { background-color: $drk-blue; }

// Colors
////////////////////////////////////////////////////////////////////////////////
.c-orange   { background-color: $orange; }
.c-turq     { background-color: $turq; }
.c-lt-gray  { background-color: $lt-gray; }
.c-blue     { background-color: $blue; }
.c-drk-blue { background-color: $drk-blue; }