// Background Colors
////////////////////////////////////////////////////////////////////////////////
.bgc-orange   { background-color: $orange; }
.bgc-turq     { background-color: $turq; }
.bgc-lt-gray  { background-color: $lt-gray; }
.bgc-blue     { background-color: $blue; }
.bgc-drk-blue { background-color: $drk-blue; }

// Colors
////////////////////////////////////////////////////////////////////////////////
.c-orange   { color: $orange; }
.c-turq     { color: $turq; }
.c-lt-gray  { color: $lt-gray; }
.c-blue     { color: $blue; }
.c-drk-blue { color: $drk-blue; }
.c-white    { color: white; }