.ta-center { text-align: center; }
.ta-right  { text-align: right; }
.ta-left   { text-align: left; }

.d-inline       { display: inline; }
.d-inline-block { display: inline-block; }
.d-block        { display: block; }

.tt-uppercase { text-transform: uppercase; }

.legal {
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-family: 'Georgia', serif;
  }
}

.merge { font-family: 'mergelight'; }
