.ta-center { text-align: center; }
.ta-right  { text-align: right; }
.ta-left   { text-align: left; }

.d-inline       { display: inline; }
.d-inline-block { display: inline-block; }
.d-block        { display: block; }