.bgc-lt-gray.p-y-40.footer
  .row
    .small-12.medium-8.columns
      %h6.d-inline-block Bonded &amp; Insured
      %h6.d-inline-block.p-x-10 &#124;
      %h6.d-inline-block (773) 980-9348
      %h6.d-inline-block.p-x-10 &#124;
      %h6.d-inline-block info@wagwag.io
      %h6.d-inline-block.p-x-10 &#124;
      %h6.d-inline-block 
        %a{"data-reveal-id" => "terms"} Privacy Policy &amp; Terms of Service
    .small-12.medium-4.columns.ta-right
      %a.d-inline-block.m-right-20{href: "http://twitter.com/wagwagpets", target: "_blank"}
        = image_tag "twitter.svg", width: "30px"
      %a.d-inline-block.m-right-20{href: "http://instagram.com/wagwag_pet_services", target: "_blank"}
        = image_tag "instagram.svg", width: "30px"
      %a.d-inline-block{href: "http://www.facebook.com/wagwagpets", target: "_blank"}
        = image_tag "facebook.svg", width: "30px"


