.bgc-lt-gray.p-y-40.footer
  .row
    .small-12.medium-8.columns
      %h6.d-inline-block Bonded &amp; Insured
      %h6.d-inline-block.p-x-10 &#124;
      %h6.d-inline-block (773) 980-9348
      %h6.d-inline-block.p-x-10 &#124;
      %h6.d-inline-block 
        = mail_to "info@wagwag.io", "info@wagwag.io"
      %h6.d-inline-block.p-x-10 &#124;
      %h6.d-inline-block 
        %a{"data-reveal-id" => "terms"} Privacy Policy &amp; Terms of Service



