.bgc-lt-gray.p-y-15.footer
  .row.ta-center
    %h6.d-inline-block Fully Licensed &amp; Insured
    %h6.d-inline-block.p-x-10 &#124;
    %h6.d-inline-block (773) 980-9348
    %h6.d-inline-block.p-x-10 &#124;
    %h6.d-inline-block info@wagwag.io
