.row{style: "padding: 20px 0px;"}
  .small-4.columns
    = image_tag "revised_logo--orange.svg", style: "width: 200px;"
  .small-8.columns.ta-right
    %div
      %a.m-right-20.page-jump{style: "line-height: 62px; font-size: 1.2rem;", href: "#about"} About
      %a.m-right-20.page-jump{style: "line-height: 62px; font-size: 1.2rem;", href: "#features"} Features
      %a.m-right-20.page-jump{style: "line-height: 62px; font-size: 1.2rem;", href: "#walker"} Meet Our Lead Walker
      %a.m-right-20.page-jump{style: "line-height: 62px; font-size: 1.2rem;", href: "#pricing"} Pricing
      %a.m-right-20.page-jump{style: "line-height: 62px; font-size: 1.2rem;", href: "#signup"} Start Walking