%div#seo.reveal-modal.full.legal{"data-reveal" => "true", style: "overflow-y: scroll;"}
  %p
    Walking your dog isn't just about giving them a chance to do their business. Walks keep our pups healthy and happy, giving them an opportunity to exercise their minds, bodies and senses. We strive to make all of our walks about giving your best friend the release they need while you're away.